# Archivos específicos de Eclipse
.classpath
.project
.settings/

# Archivos del sistema
.DS_Store
Thumbs.db

#Archivos generados por el proyecto
biblioteca_imagenes/

# Salidas de compilación
bin/
build/

# Archivos temporales
*.log
*.tmp

# Otros IDEs (por si acaso)
.idea/
*.iml
.vscode/

#maven
tarjet/
/target/
